/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchinput{
     width:200px;
   }
   .navbar-brand{
     padding:13px 15px; /*left top right bottom*/
   }

   /* --------------------------------------
   Fun Body
   -------------------------------------- */
   body {
     background:#c41a50;
     background-pattern:
   }
.hindi-fun p{
     font-family:'Laila',serif;
     padding-top:300px;
     font-size: 50px;
     text-align:center;

   }

.hindi-fun h5{
     font-family:'Laila',serif;
     text-align:center;

}
   .hindi-button{
     text-align:center;
   }


/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
  margin-top:20px;
  display: none;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
